{
  "extends": ["react-app", "react-app/jest", "airbnb", "airbnb/hooks"],
  "overrides": [
    {
      "files": ["*.test.tsx", "*.test.ts"],
      "rules": {
        "react/jsx-pascal-case": "off"
      }
    }
  ]
}
