.react-awesome-ptr {
  &.fixed-opacity {
    opacity: 1 !important;
  }
  &.for-bounce {
    &.transition-enabled {
      transition: height 0.2s cubic-bezier(0, 0, 0, 1), opacity 0.2s;
    }
    position: fixed;
    width: 100%;
    z-index: -1;
    opacity: 0;
    right: 0;
  }
  &.for-no-bounce {
    &.transition-enabled {
      transition: opacity 0.2s;
    }
    opacity: 0;
    position: fixed;
    width: 100%;
    z-index: -1;
    right: 0;
  }
}
