.rap-cupertino-spinner {
  margin: 8px auto 0;
  width: 32px;
  .bump {
    animation: bump 0.3s 1;
  }
  .spin > svg {
    animation: spin 1s infinite 0.1s linear;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes bump {
    from {
      transform: scale(1.3);
    }
    to {
      transform: scale(1);
    }
  }
}
