.rap-cupertino-spinner {
  margin: 8px auto 0;
  width: 32px;
  .bump {
    animation: bump 0.3s 1;
  }
  .spin > svg {
    animation: spin 1.5s infinite linear;
  }
  .complete > svg {
    animation: shrink 300ms 1;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes bump {
    from {
      transform: scale(1.3);
    }
    to {
      transform: scale(1);
    }
  }
  @keyframes shrink {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg) scale(0);
    }
  }
}
