.rap-cupertino-spinner {
  margin: 8px auto 0;
  width: 32px;
  .bump {
    animation: rap-cupertino-bump 0.3s 1;
  }
  .spin > svg {
    animation: rap-cupertino-spin 1.5s infinite linear;
  }
  .complete > svg {
    animation: rap-cupertino-shrink 300ms 1;
  }
  @keyframes rap-cupertino-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes rap-cupertino-bump {
    from {
      transform: scale(1.3);
    }
    to {
      transform: scale(1);
    }
  }
  @keyframes rap-cupertino-shrink {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg) scale(0);
    }
  }
}
