.react-awesome-ptr-spinner {
  margin: 0 auto;
  img.bump {
    animation: rap-default-bump 0.3s 1;
  }
  img.spin {
    animation: rap-default-spin 1s steps(12, end) infinite 0.1s;
  }
  @keyframes rap-default-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes rap-default-bump {
    from {
      transform: scale(1.3);
    }
    to {
      transform: scale(1);
    }
  }
}
