.react-awesome-ptr {
  &.for-no-bounce {
    &.transition-enabled {
      transition: opacity 0.2s;
    }
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    right: 0;
  }
}
